.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title-color {
  color: #5FA4DA;
}

.bg-nav {
  background-color: #161616;
}

.home-discription {
  position: absolute;
  top: 30%;
}

.bg-footer {
  background-color: #161616;
}

.main-comp {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.footer-comp {
  position: sticky;
  top: 100%;
}